body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(158, 145, 194);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
video {
  margin-bottom: 20px;
  display: block;
  position: relative;
  z-index: 1; /* Certifique-se de que o vídeo esteja atrás do canvas */
  max-width: 100%;
  height: auto;
}
canvas {
  position: absolute;
  z-index: 2; /* Certifique-se de que o canvas fique sobre o vídeo */
  pointer-events: none;
}
